:root {
  /* Font sizes */
  --fs--2: clamp(0.63rem, calc(0.72rem + -0.12vw), 0.69rem);
  --fs--1: clamp(0.83rem, calc(0.82rem + 0.09vw), 0.88rem);
  --fs-0: clamp(1rem, calc(0.91rem + 0.43vw), 1.25rem);
  --fs-1: clamp(1.2rem, calc(1rem + 0.99vw), 1.77rem);
  --fs-2: clamp(1.44rem, calc(1.07rem + 1.84vw), 2.5rem);
  --fs-3: clamp(1.73rem, calc(1.1rem + 3.14vw), 3.53rem);
  --fs-4: clamp(2.07rem, calc(1.06rem + 5.08vw), 5rem);
  --fs-5: clamp(2.49rem, calc(0.9rem + 7.96vw), 7.07rem);
  /* Colors */
  --text: #0e1103;
  --text-content: hsl(73, 20%, 14%);
  --text-hl: hsl(196, 19%, 73%);
  --background: hsl(56, 70%, 96%);
  --primary-button: #2aa3cb;
  --secondary-button: #ffffff;
  --accent: #cb2aa3;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Colors */
    --text: hsl(73, 70%, 94%);
    --text-content: hsl(73, 20%, 84%);
    --text-hl: hsl(196, 19%, 73%);
    --background: hsl(56, 70%, 6%);
    --primary-button: hsl(195, 87%, 69%);
    --secondary-button: hsl(0, 0%, 95%);
    --accent: hsl(315, 89%, 78%);
  }
}

html {
  color-scheme: light dark;
  scroll-behavior: smooth;
  font-size: 100%;
  box-sizing: border-box;
}

body {
  font-family: 'IBM Plex Sans', sans-serif;
  margin-inline: auto;
  width: min(100% - 0.5em, 80em);
  color: var(--text);
  background-color: var(--background);
}

body,
.main {
  display: grid;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  padding: 0;
  margin: 0;

  /* outline: 0.3px solid grey; */
}

img,
video,
svg,
iframe {
  display: block;
  width: 100%;
  max-width: 100%;
}

button {
  background: transparent;
  border: 0.5px solid transparent;
  cursor: pointer;
  text-transform: capitalize;
}

ul {
  list-style-type: none;
}

a,
a:active {
  text-decoration: none;
  color: var(--primary-button);
}

h1 {
  font-size: var(--fs-4);
}

h2 {
  font-size: var(--fs-2);
  font-size: 400;
}

h3 {
  font-size: var(--fs-1);
}

p {
  font-size: var(--fs-0);
  font-weight: 400;
  color: var(--text-content);
}

/* Links styles */

.primary {
  background-color: var(--accent);
  color: var(--secondary-button);
  padding: 0.3em 0.8em;
  text-transform: uppercase;
  width: fit-content;
}

.secondary {
  padding: 0.3rem 0.8rem;
  background-color: hsl(0, 0%, 90%);
  color: hsl(0, 0%, 20%);
  text-transform: uppercase;
  width: fit-content;
}

.highlight {
  color: var(--accent);
}

/* Blog styles */

.wrapper,
.entry-container,
.entry,
.header-blog {
  display: grid;
  gap: 1.7rem;
}

.blog-image {
  aspect-ratio: 16/9;
  object-position: top;
  object-fit: cover;
}
