---
import Mainlayout from '../layouts/MainLayout.astro';
---

<Mainlayout title="Page Not Found">
  <main class="main">
    <span class="main__error">404</span>
    <h1 class="main__h1">
      UPS! There's a problem with some conections
    </h1>
    <p class="main__p">
      This error message means that we did some errors while setting up the site
    </p>
    <a class="primary main__link" href="/">Go back to home</a>
  </main>
</Mainlayout>

<style lang='scss'>
  .main{
    &__error{
      font-size: 4rem;
      font-weight: 800;
      letter-spacing: 3px;
    }
    &__h1{
      font-size: 3rem;
    }
    &__p{
      font-size: 1.5rem;
      font-weight: 600;
    }
  }
</style>