---
import Mainlayout from '../layouts/MainLayout.astro';
---

<Mainlayout title="Page Not Found">
	<h1>Yefree's blog</h1>
	<div class="main">
		<h2>404</h2>
		<p>Page not found</p>
	</div>
</Mainlayout>

<style lang='scss'>
</style>