---
import MainLayout from "../layouts/MainLayout.astro";

import aboutMe from "../Data/AboutData";
---

<MainLayout title="About me">
  <main class="section-about" aria-label="About The Me">
    <div class="section-about__text">
      <h1 class="section-about__h1">About Me</h1>
      {aboutMe.map((data) => <p class="section-about__p">{data.p}</p>)}
    </div>
    <img
      class="section-about__img"
      src="/images/hero-images/hero.PNG"
      alt="Illustration about the creator of the blog"
    />
  </main>
</MainLayout>

<style lang="scss">
  .section-about {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(25rem, 100%), 1fr));
    margin: 4rem 0;
    &__text {
      display: flex;
      justify-content: center;
      flex-direction: column;
      gap: 1rem;
      padding: 1rem;
    }
    &__p {
      font-weight: 600;
      &--author {
        color: rgb(0, 183, 255);
      }
    }
    &__img {
      object-fit: contain;
      object-position: center;
      aspect-ratio: 1;
    }
  }
</style>
