---
import Mainlayout from '../layouts/MainLayout.astro';
---

<Mainlayout title="Yefree's blog">
	<h1>Yefree's blog</h1>
	<div class="main">
		<h2>Test</h2>
		<p>Cositas</p>
	</div>
</Mainlayout>

<style lang='scss'>
</style>
