---
import Mainlayout from '../layouts/MainLayout.astro';
import PostCard from '../components/PostCard.astro';
import SectionEntry from '../components/SectionEntry.astro';
import Main from '../components/Main.astro';
// import utils js
import { formatBlogPost } from '../js/utils';

const allPosts = await Astro.glob('./blog/*.md');

const formattedPosts = formatBlogPost(allPosts, {
  limit: 6,
  filterOutDrafts: false,
});

const pinnedBlogPosts = formatBlogPost(allPosts, {
  limit: 3,
  sortbyDate: false,
});
---

<Mainlayout title="Yefree's blog" subtitle="HOME">
  <Main coverTitle="Latest">
    <p>
      <strong class="highlight">Welcome to the blog</strong>. Here you can find
      the latest post I've published recently.
    </p>
  </Main>
  <SectionEntry class="entries" aria-label="Latest blog posts">
    {
      formattedPosts.map((post) => (
        <PostCard frontmatter={post.frontmatter} url={post.url} tagType="h2" />
      ))
    }
  </SectionEntry>
  <Main coverTitle="Pinned Entries">
    <p>
      <strong class="highlight">The most raad, and important entries.</strong>.
      No matter in what fase of your learning proccess are you, this articles
      will help you achieve all your goals.
    </p>
  </Main>
  <SectionEntry class="entries" aria-label="Latest blog posts">
    {
      pinnedBlogPosts.map((post) => (
        <PostCard frontmatter={post.frontmatter} url={post.url} tagType="h2" />
      ))
    }
  </SectionEntry>
</Mainlayout>

<style lang="scss">
  .main {
    &__image {
      // width: 13rem;
      aspect-ratio: 1;
      object-fit: contain;
      object-position: center;
    }
  }

  .entries {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(12rem, 100%), 1fr));
    gap: 3rem;
  }
</style>
