---
import navData from "../Data/NavData";

const socialLinks = [
  {
    title: "Instagram",
    link: "https://www.instagram.com/",
  },
  {
    title: "Twitter",
    link: "https://twitter.com/",
  },
  {
    title: "GitHub",
    link: "https://github.com/",
  },
];

const ConnectLinks = [
  {
    title: "About",
    link: "/about/",
  },
  {
    title: "Mail",
    link: "#",
  },
  {
    title: "GitHub",
    link: "https://github.com/",
  },
];
---

<footer class="footer">
  <nav class="footer__nav">
    <div class="footer__division">
      <h3 class="footer__h3">Social Media</h3>
      {
        socialLinks.map((item) => (
          <a class="footer__links" href={item.link}>
            {item.title}
          </a>
        ))
      }
    </div>
    <div class="footer__division">
      <h3 class="footer__h3">Connect</h3>
      {
        ConnectLinks.map((item) => (
          <a class="footer__links" href={item.link}>
            {item.title}
          </a>
        ))
      }
    </div>
  </nav>
  <div class="footer__copyright">
    <small class="footer__meta">
      copyright &copy;
      <span id="copyright" class="footer__date"></span>
      | All right reserved.
    </small>
  </div>
</footer>

<style lang="scss">
  .footer {
    margin-top: 3rem;
    :is(&, &__division) {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }
    color: hsl(0, 0%, 60%);
    padding: 0.5rem 3rem;
    background-color: hsl(0, 0%, 99%);
    text-align: center;
    &__nav {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(min(8rem, 100%), 1fr));
      place-items: center;
    }
    &__h3 {
      font-size: 1.3rem;
    }
    &__links {
      color: hsl(0, 0%, 60%);
    }
  }
</style>

<script>
  document.querySelector("#copyright").textContent = new Date()
    .getFullYear()
    .toString();
</script>
