---
// Components imports
import MainHead from "./MainHead.astro";
import MainHeader from "../components/MainHeader.astro";
import Footer from "../components/Footer.astro";

// Styles import 
import '../styles/global.css'

// Libraries imports 
// import { Icon } from "astro-icon";
const { title } = Astro.props;
---

<html lang="en">
  <MainHead {title}></MainHead>
  <MainHeader></MainHeader>
	<body>
		<slot />
    <Footer></Footer>
	</body>
</html>

<style lang="scss">
  body{
    font-family: 'Open Sans', sans-serif;
    width: min(90em, 100% - .5rem);
    margin-inline: auto;
  }
</style>
