---
import Navbar from '../components/Nav.astro';

// Styles import
import '../styles/global.css';
---

<header class="header">
  <small class="header__promo">
    Blog created entirely from scratch by
    <a class="header__promo header__promo--link" href="#" target="_blank">
      Yefree De Los Santos
    </a>
  </small>
  <Navbar />
</header>

<style lang="scss">
  .header {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    border-bottom: 2px solid var(--text);
    &__promo {
      padding-block: 1vh;
      text-align: center;
      &--link {
        text-decoration: underline;
        transition: all 0.15s linear;
        &:hover {
          color: hsl(300, 78%, 46%);
        }
      }
    }
  }
</style>
