---
// Components imports
import MainHead from "../components/MainHead.astro";
import MainHeader from "./MainHeader.astro";
import Footer from "./Footer.astro";

// Styles import 
import '../styles/global.css'

// Libraries imports 
// import { Icon } from "astro-icon";
const { title } = Astro.props;
---

<html lang="en">
  <MainHead {title}></MainHead>
  <MainHeader></MainHeader>
	<body>
    <slot />
    <Footer></Footer>
	</body>
</html>
