---
// Components imports
import MainHead from '../components/MainHead.astro';
import MainHeader from './MainHeader.astro';
import Footer from './Footer.astro';
// Styles import
import '../styles/global.css';

import Preloader from '../components/Preloader.astro';

const { title, subtitle } = Astro.props;
---

<html lang="en">
  <MainHead {title} {subtitle} />
  <body>
    <Preloader />
    <MainHeader />
    <main class="wrapper">
      <slot />
    </main>
    <Footer />
  </body>
</html>
