---

const { frontmatter, url} = Astro.props;

const {title, description, date, category, image} = frontmatter;

---
<aside class="aside">
  <h2 class="aside__h2">More posts</h2>
    <article class="aside__content">
    <a class="card__link" href="/about/">
      <img class="card__image" src='/images/blog-images/my-space-blog.png' alt='vainas'>
      <div class="aside__text">
        <h2 class="card__h2">titulo de entrada</h2>
        <p class="card__p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur, aliquam?</p>
      </div>
    </a>
</aside>

<style lang="scss">
    .aside{ 
      flex-basis: 20em;
      flex-grow: 1;
      display: flex;
      flex-flow: column;
      gap: 1rem;
      &__h2{
        border-bottom: 1px solid hsl(0, 0%, 85%);
      }
      &__content,
      &__text {
        display: flex;
        gap: 1rem;
      }
      &__content{
        flex-direction: column;
      }
      &__content{
        align-items: flex-start;
      }
      &__image{
        width: 10rem;
        object-fit: cover;
        object-position: bottom;
        aspect-ratio: 1;
      }
      &__text{
        flex-direction: column;
      }
      &__link{
        text-decoration: underline;
        color: hsl(188, 30%, 40%);
      }
    }
</style>