---

---

<footer class="footer">
  <div>
    <small>
      copyright &copy;
      <span id="copyright"></span>
      | All right reserved.
    </small>
  </div>
</footer>

<script>
  document.querySelector("#copyright").textContent = new Date().getFullYear().toString();
</script>