---

interface Props {
  text: string;
  href: string;
  classes?: string;
}

const {
  text,
  href,
  classes,
  ...rest
} = Astro.props as Props;

---

<a 
  href={href}
  class:list={[
    'nav__links',
    classes
  ]}
  {...rest}
>{text}</a>