---

interface Props {
  text: string;
  href: string;
  classes?: string;
}

const {
  text,
  href,
  classes,
  ...rest
} = Astro.props as Props;

---

<a 
  href={href}
  class:list={[
    'nav__links',
    classes
  ]}
  {...rest}
>{text}</a>

<style lang="scss">

  a[aria-current=page]{
    background-color: #111;
    color: white;
  }

</style>