---
// import components
import CategoryCloud from './CategoryCloud.astro';
const { coverTitle, pageDescription } = Astro.props;
---

<section class="cover">
  <h1 class="cover__h1">{coverTitle}</h1>
  <slot />
</section>
<style lang="scss">
  .cover {
    margin-block: 2vh;
    &__h1 {
      margin-block: 3rem;
      font-style: italic;
      font-size: var(--fs-5);
      text-shadow: rgba(240, 46, 170, 0.4) 0.3125rem 0.3125rem;
    }
  }
</style>
