---
// data imports
import navData from '../Data/NavData';
---

<nav class="nav">
  <a href="/" class="nav__logo">
    <img class="nav__image" src="/glasses.png/" alt="" />
    <!-- <Icon name="favicon" width='400'></Icon> -->
    <div class="nav__text">
      Yefree's <span class="nav__text nav__text--blog">Blog</span>
    </div>
  </a>
  <ul class="nav__ul">
    {
      navData.map((item) => (
        <li class="nav__li">
          <a href={item.link} class="nav__links" data-navLink>
            {item.name}
          </a>
        </li>
      ))
    }
  </ul>
</nav>

<style lang="scss">
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    :is(&__logo, &__ul) {
      display: flex;
      flex: 1;
    }
    &__logo {
      align-items: center;
      gap: 0.8rem;
    }
    &__image {
      width: 3rem;
      aspect-ratio: 1;
      object-fit: cover;
      filter: invert(1);
    }
    &__text {
      font-size: var(--fs--1);
      font-weight: 700;
      color: var(--text);

      &--blog {
        color: var(--text-hl);
      }
    }
    &__ul {
      justify-content: flex-end;
      gap: 1rem;
    }
    &__links {
      text-transform: capitalize;
      font-weight: 600;
      outline: transparent 1px solid;
      padding: 0.3rem 0.8rem;
      transition: all 0.2s linear;
      &:hover {
        color: var(--secondary-button);
        background-color: var(--text-hl);
      }
      &[aria-current='page'] {
        color: var(--secondary-button);
        background-color: var(--text-hl);
      }
    }
  }
</style>

<script>
  import '../js/eventListners';
</script>
