---
import Mainlayout from "../../layouts/MainLayout.astro";
import PostCard from "../../components/PostCard.astro";
import Main from "../../components/Main.astro";
import SectionEntry from "../../components/SectionEntry.astro";

const allPosts = await Astro.glob("./*.md");

// utils
import { formatBlogPost } from "../../js/utils";

const formattedPosts = formatBlogPost(allPosts, {
  filterOutDrafts: false,
  filterOutFuturePosts: false,
  sortbyDate: true,
});
---

<Mainlayout title="Yefree's blog">
  <Main pageTitle="Blog Entries">
    <p class="main__p">
      Inspiring work and projects from all the resources I like to use to learn,
      from amazing designers, developers and programmers, along with all my
      thoughts and opinions.
    </p>
  </Main>
  <SectionEntry>
    {
      formattedPosts.map((post) => (
        <PostCard frontmatter={post.frontmatter} url={post.url} tagType="h2" />
      ))
    }
  </SectionEntry>
</Mainlayout>
