---
import Mainlayout from '../../layouts/MainLayout.astro';
import PostCard from '../../components/PostCard.astro';

const allPosts = await Astro.glob("./*.md"); 
---

<Mainlayout title="Yefree's blog">
	<main class="main">
		<h1 class="main__h1">Blog Entries</h1>
		<p class="main__p">
      Inspiring work and projects from all the resources I like to use to learn, from 
      amazing designers, developers and programmers, along with all my thoughts and 
      opinions.
    </p>
	</main>
  <section class="entries" aria-label="New blog posts">
    {
      allPosts.map((post) => 
        <PostCard frontmatter={post.frontmatter} 
          url={post.url} tagType="h2" />
      )
    }
  </section>
</Mainlayout>

<style lang='scss'>
  .entries{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(12rem, 100%), 1fr));
    gap: 3rem;
  }
</style>