---
import Mainlayout from '../../layouts/MainLayout.astro';
---

<Mainlayout title="Yefree's blog">
  <section class="section-header">
    <header class="section-header__header">
      <h1 class="section-header__h1">Blog Entries</h1>
      <div class="section-header__division">
        <span class="section-header__update">
          Last update
        </span>
        <span id="blog-update" class="section-header__date">26-5-2023</span>
      </div>
    </header>
    <p>
      Here you can find all the entries I've posted in the last weeks
      From newest to latest, Check them out.
    </p>
  </section>
  
	<div class="main">
	</div>
</Mainlayout>
<style lang='scss'>
</style>