---
import Mainlayout from '../../layouts/MainLayout.astro';

const allPosts = await Astro.glob("./*.md"); 
---

<Mainlayout title="Yefree's blog">
	<main class="main">
		<h1 class="main__h1">Blog Entries</h1>
		<p class="main__p">
      Inspiring work and projects from emerging and established artists, designers, 
      illustrators and photographers, along with mini-interviews and in-depth 
      profiles to help spark the best creative ideas.
    </p>
	</main>
  <section class="entries">
    
  </section>
</Mainlayout>
<style lang='scss'>
</style>